.hello {
    color: red;
}

.logo {
    width: 150px;
}

body {
    background-color: cadetblue;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}