/* 
* R&C
* src: https://www.dafont.com/r-c.font
*/
@font-face {
    font-family: 'minimal';
    src: url('../assets/fonts/minimal.otf');
    font-weight: 100;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'minimal';
    font-size: 2em;
}

.logo {
    width: 150px;
}

body {
    background-color: cadetblue;
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}